@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  align-content: center;
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
      "width" 100;
      
    
  }
  body {
    background-color: lightgray;
    color: black;
    margin: auto;
    
  }
  
  p {
    background-color: white;
    line-height:1.6;
    font: size 1.1rem;
    
  }
  .box {
    align-content: center;
    border: 6px solid;
    margin:auto;
    padding: 10px;
    max-width: 800px;
    
    
    }

    * {text-align: center;}
    
    img {
      padding: px;
      border-radius: 8px;
        max-width: 100%;
    }
        
    li {
        color: black;
        background-color:white;
    }
     a:hover{ 
      text-decoration: underline;
       color:purple;
       
    }
  h1,h2{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.6;
  }
  button {
    text-decoration: black;
   color: beige;
   text-transform: uppercase;
  }
  input [type=radio]{
    color: black;
  }
  
  nav>ul{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 50;
    margin:auto
  }
