@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      
    
  }
  body {
    background-color: lightgray;
    color: black;
    
  }
  
  p {
    line-height:1.6;
    font: size 1.1rem;
    
  }
  .box {
    border: 2px solid;
    margin:auto
    padding: 10px;
    max-width: 800px;
    
    
    }

    * {text-align: center;}
    
    .dontquit{
        max-width: 100%;
        border: radius 40px;
        background-color: navy;
    }
  